<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff ID</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="section-header"></div>
    <div class="section-content">
        <p><%= data.name %></p>
       <p> <%= data.salutation %>
        <%= data.employee_name %> </p>
        <p>Department: <%= data.department %></p>
        <p>designation: <%= data.designation %></p>
    </div>
    <div class="section-footer"></div>
</body>

</html>